In [1]:
import pandas as pd
import numpy as np

# Series 
s = pd.Series([1,3,5,np.nan,6,8])
# DataFrame conversion of Series
x = pd.DataFrame(s,columns=['row1'])
# How to see the documentation
?pd.dropna(axis = 0)
# Knew the meaning of inplace and axis = 0 or axis =1,
# axis = 0 refers entire row, and 1 refer entire column

## That was just high jump

## DateTimeRange

In [ ]:
# dates in panda
# dates = pd.date_range('20130101', periods=6)
?pd.date_range('20130101', periods=6)

In [ ]:
pd.date_range('20130101', periods=6, freq='D')

In [ ]:
pd.date_range(periods=6, freq='7S',start='2013-01-23 12:30:10')

## DataTypes

In [ ]:
adf = pd.DataFrame(data = 
                [
                    ["1",(2,),3,4],
                    ["5",(6,),7,8],
                    ["3",(10,),11,12]
                ],columns=['a','b','c','d'])

In [ ]:
adf

In [ ]:
adf.a == adf['a']

In [ ]:
adf.a = adf.a.astype('int')

In [ ]:
adf

In [ ]:
adf.b

In [ ]:
for item in adf.a:
    print(item)

In [2]:
x = pd.DataFrame(data = np.random.randn(4000000,5), columns=['col'+str(i) for i in range(5)])

In [14]:
x.iloc[2:5] #return index 2,3,4 as dataframe
x.iloc[[2]] #return index 2 as dataframe
x.iloc[2] #return index 2 as series            !!!!!!!!!!Danger

col0   -0.212684
col1    0.614558
col2    0.864352
col3   -0.081555
col4   -0.293821
Name: 2, dtype: float64

In [16]:
?x.head(1)

In [26]:
x.tail(10)
x.head(2) #these are handy way of peeking into your data

       col0      col1      col2      col3      col4
0 -1.365356 -1.375759 -1.549607 -0.624079  0.856167
1  1.482793 -0.124513  1.306194  0.544312 -0.444655

In [30]:
gm = pd.concat([x.head(5),x.tail(5)]) # concatentation via rows

In [37]:
gm.sort_values(['col0'],ascending=False)

             col0      col1      col2      col3      col4
4        1.899916 -0.083257 -0.119573  0.891732  1.680710
1        1.482793 -0.124513  1.306194  0.544312 -0.444655
3999997  1.221182  1.098801 -0.490921  1.070056  0.529992
3999999  0.878257  0.990501 -0.257664  2.338945 -1.242678
3999998  0.082905 -1.137704 -0.939943  0.041133 -0.526051
3999995 -0.193078 -0.398291 -0.379565  0.862960 -0.553474
2       -0.212684  0.614558  0.864352 -0.081555 -0.293821
3       -0.779928 -0.384897 -0.019888  0.178346  0.625295
0       -1.365356 -1.375759 -1.549607 -0.624079  0.856167
3999996 -2.709471  0.106926 -2.027242 -1.203151  0.239490

In [35]:
gm

             col0      col1      col2      col3      col4
0       -1.365356 -1.375759 -1.549607 -0.624079  0.856167
1        1.482793 -0.124513  1.306194  0.544312 -0.444655
2       -0.212684  0.614558  0.864352 -0.081555 -0.293821
3       -0.779928 -0.384897 -0.019888  0.178346  0.625295
4        1.899916 -0.083257 -0.119573  0.891732  1.680710
3999995 -0.193078 -0.398291 -0.379565  0.862960 -0.553474
3999996 -2.709471  0.106926 -2.027242 -1.203151  0.239490
3999997  1.221182  1.098801 -0.490921  1.070056  0.529992
3999998  0.082905 -1.137704 -0.939943  0.041133 -0.526051
3999999  0.878257  0.990501 -0.257664  2.338945 -1.242678

In [38]:
gm.describe()

            col0       col1       col2       col3       col4
count  10.000000  10.000000  10.000000  10.000000  10.000000
mean    0.030454  -0.069364  -0.361386   0.401870   0.087098
std     1.412830   0.819604   1.000438   0.983986   0.857810
min    -2.709471  -1.375759  -2.027242  -1.203151  -1.242678
25%    -0.638117  -0.394942  -0.827687  -0.050883  -0.505702
50%    -0.055087  -0.103885  -0.318615   0.361329  -0.027165
75%     1.135451   0.487650  -0.044809   0.884539   0.601469
max     1.899916   1.098801   1.306194   2.338945   1.680710

In [46]:
from matplotlib o,[]

In [50]:
%inline

UsageError: Line magic function `%inline` not found.

In [52]:
gm.boxplot()

NameError: name '_converter' is not defined